<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="{{path('app_index')}}">
			<span class="sidebar-brand-text align-middle">
				ATG
				<sup>
					<small class="badge bg-primary text-uppercase">Pro</small>
				</sup>
			</span>
			<svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewbox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
				<path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
				<path d="M20 12L12 16L4 12"></path>
				<path d="M20 16L12 20L4 16"></path>
			</svg>
		</a>

		<div class="sidebar-user">
			<div class="d-flex justify-content-center">
				<div class="flex-shrink-0"></div>
				<div class="flex-grow-1 ps-2">
					<a class="sidebar-user-title dropdown-toggle" href="#" data-bs-toggle="dropdown">
						Robert GOGO
					</a>
					<div class="dropdown-menu dropdown-menu-start">
						<a class="btn btn-warning " href="{{ path('app_home_slide_index') }}">Log out</a>
					</div>

					<div class="sidebar-user-subtitle">CEO</div>
				</div>
			</div>
		</div>


		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Pages
			</li>


			<li class="sidebar-item {% if app.request.attributes.get('_route') starts with 'app_home_slide_index|app_home_slide_index' %} active {% endif %}">
				<a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="layout"></i>
					<span class="align-middle">Accueil</span>
				</a>
				<ul id="pages" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item {% if app.request.attributes.get('_route') starts with 'app_home_slide_index' %} active {% endif %}">
						<a class="sidebar-link" href="{{url('app_home_slide_index')}}">Slides</a>
					</li>

					<li class="sidebar-item {% if app.request.attributes.get('_route') starts with 'app_admin_produit_index' %} active {% endif %}">
						<a class="sidebar-link" href="{{url('app_admin_produit_index')}}">Produits</a>
					</li>
					<li class="sidebar-item {% if app.request.attributes.get('_route') starts with 'app_admin_home_about_index' %} active {% endif %}">
						<a class="sidebar-link" href="{{url('app_admin_home_about_index')}}">A propos</a>
					</li>
					<li class="sidebar-item {% if app.request.attributes.get('_route') starts with 'app_home_slide_index' %} active {% endif %}">
						<a class="sidebar-link" href="{{url('app_home_slide_index')}}">Statistique</a>
					</li>

				</ul>

			</li>

			<li class="sidebar-header">
				Gestion des Produits
			</li>
			<li class="sidebar-item {% if app.request.attributes.get('_route') starts with 'app_admin_produit_index' %} active {% endif %}">
				<a class="sidebar-link" href="{{url('app_admin_produit_index')}}">Produits</a>
			</li>
			<li class="sidebar-header">
				Gestion des services
			</li>
			<li class="sidebar-item {% if app.request.attributes.get('_route') starts with 'app_admin_service_index' %} active {% endif %}">
				<a class="sidebar-link" href="{{url('app_admin_service_index')}}">Services</a>
			</li>

			<li class="sidebar-header">
				Pages Apropos
			</li>
			<li class="sidebar-item {% if app.request.attributes.get('_route') starts with 'app_admin_apropos_index' %} active {% endif %}">
				<a class="sidebar-link" href="{{url('app_admin_apropos_index')}}">A Propos</a>
			</li>
			<li class="sidebar-header">
				Gestion des Membres
			</li>
			<li class="sidebar-item {% if app.request.attributes.get('_route') starts with 'app_admin_equipe_index' %} active {% endif %}">
				<a class="sidebar-link" href="{{url('app_admin_equipe_index')}}">Equipes</a>
			</li>

			<li class="sidebar-header">
				Gestion des Temoignages
			</li>

			<li class="sidebar-item {% if app.request.attributes.get('_route') starts with 'app_admin_temoignage_index' %} active {% endif %}">
				<a class="sidebar-link" href="{{url('app_admin_temoignage_index')}}">Temoignage</a>
			</li>
			<li class="sidebar-header">
				Gestion des Blogs
			</li>

			<li class="sidebar-item {% if app.request.attributes.get('_route') starts with 'app_admin_blog_index' %} active {% endif %}">
				<a class="sidebar-link" href="{{url('app_admin_blog_index')}}">Blogs</a>
			</li>
			<li class="sidebar-header">
				Gestion des Contacts
			</li>

			<li class="sidebar-item  {% if app.request.attributes.get('_route') starts with 'app_admin_contact_index' %} active {% endif %}">
				<a class="sidebar-link" href="{{url('app_admin_contact_index')}}">
					<i class="align-middle" data-feather="user"></i>
					<span class="align-middle">Contact</span>
				</a>
			</li>

			<li class="sidebar-header">
				Gestion des Messages
			</li>
			<li class="sidebar-item  {% if app.request.attributes.get('_route') starts with 'app_admin_message_index' %} active {% endif %}">
				<a class="sidebar-link" href="{{url('app_admin_message_index')}}">
					<i class="align-middle" data-feather="user"></i>
					<span class="align-middle">Messages</span>
				</a>
			</li>
			<li class="sidebar-header">
				Gestion des Certification
			</li>
			<li class="sidebar-item  {% if app.request.attributes.get('_route') starts with 'app_admin_certification_index' %} active {% endif %}">
				<a class="sidebar-link" href="{{url('app_admin_certification_index')}}">
					<i class="align-middle" data-feather="user"></i>
					<span class="align-middle">Certification</span>
				</a>
			</li>

		</ul>


	</div>
</nav>
