{% extends 'base.html.twig' %}

{% block title %}Apropos
{% endblock %}

{% block body %}
	<h1>Apropos</h1>


	<div class="card mb-3">
		<div class="card-header border-bottom">
			<div class="row flex-between-end">
				<div class="col-auto align-self-center">
					<h5 class="mb-0" data-anchor="data-anchor">Slide index</h5>
				</div>

			</div>
		</div>
		<div class="card-body pt-0">
			<div class="tab-content">
				<div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-41755341-f9f5-415a-acd4-1d501e1c6abd" id="dom-41755341-f9f5-415a-acd4-1d501e1c6abd">
					<div class="table-responsive scrollbar">
						<table class="table">
							<tbody>
								<tr>
									<th>Id</th>
									<td>{{ apropo.id }}</td>
								</tr>
								<tr>
									<th>Titre</th>
									<td>{{ apropo.titre }}</td>
								</tr>
								<tr>
									<th>Valeur</th>
									<td>{{ apropo.valeur }}</td>
								</tr>
								<tr>
									<th>Valeur2</th>
									<td>{{ apropo.valeur2 }}</td>
								</tr>
								<tr>
									<th>Valeur3</th>
									<td>{{ apropo.valeur3 }}</td>
								</tr>
								<tr>
									<th>Valeur4</th>
									<td>{{ apropo.valeur4 }}</td>
								</tr>
								<tr>
									<th>Nom_directeur</th>
									<td>{{ apropo.nomDirecteur }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<a class='btn btn-success' href="{{ path('app_admin_apropos_index') }}">back to list</a>

		<a class='btn btn-warning' href="{{ path('app_admin_apropos_edit', {'id': apropo.id}) }}">Modifier</a>

		{{ include('admin/apropos/_delete_form.html.twig') }}
	</div>

{% endblock %}
