{% extends "base.html.twig" %}
{% block slider %}{% endblock %}

{% block body %}

	<section class="page-header">
		<div class="page-header__bg" style="background-image: url({{asset('assets/Client/images/backgrounds/page-header-bg-1-1.jpg')}});"></div>
		<div class="container">
			<ul class="thm-breadcrumb list-unstyled">
				<li></li>
				<li>
					<a href="{{ path('app_index') }}">Accueil</a>
				</li>
			</li>
			<li>/</li>
			<li>
				<span>Contactez-nous</span>
			</li>
		</ul>
		<h2>Contact</h2>
</section>

<section class="contact-one">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
				<div class="contact-one__content">
					<div class="block-title">
						<div class="block-title__image"></div>
						<p>Contacter maintenant</p>
						<h3>Laisser un message</h3>
					</div>
					<div class="contact-one__summery">
						<p>Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod tempor
																							                                incididunt ut labore et dolore magna aliqua lonm andhn. Aenean tincidunt id mauris id
																							                                auctor. Donec at ligula lacus dignissim mi quis simply neque.</p>
					</div>
					<div class="contact-one__social">
						<a href="#">
							<i class="fab fa-facebook-square"></i>
						</a>
						<a href="#">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6 col-xl-8">
				{{ form_start(form) }}
					<div class="row">
						<div class="col-lg-6">
							{{ form_row(form.nom_prenom) }}
						</div>
						<div class="col-lg-6">
							{{ form_row(form.email) }}
						</div>
						<div class="col-lg-6">
							{{ form_row(form.telephone) }}
						</div>
						<div class="col-lg-6">
							{{ form_row(form.objet) }}
						</div>
						<div class="col-lg-12">
							{{ form_row(form.message) }}
						</div>
						<div class="col-lg-12">
							<button type="submit" class="thm-btn">Send a Message</button>
						</div>
					</div>
					{{ form_end(form) }}
			</div>
		</div>
	</div>
</section>

<section class="contact-infos">
	<div class="container">
		{% for contact in contacts %}
		<div class="inner-container wow fadeInUp" data-wow-duration="1500ms">
			<div class="row no-gutters">
				<div class="col-sm-12 col-md-12 col-lg-4">
					<div class="contact-infos__single">
						<h3>À propos de la société</h3>
						<p>{{ contact.aproposCompagnie }}</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-4">
					<div class="contact-infos__single">
						<h3>Visiter l'entreprise</h3>
						<p>{{ contact.adresse }}</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-4">
					<div class="contact-infos__single">
						<h3>Appeler ou envoyer un e-mail</h3>
						<p>
							<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
							<br>
							<a href="mailto:{{ contact.email2 }}">{{ contact.email2 }}</a><br>
							<a href="tel:+228{{ contact.telephone }}">(+228) {{ contact.telephone }}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<tr>
			<td colspan="7">no records found</td>
		</tr>
	{% endfor %}
	</div>
</section>{% endblock %}
