<header class="main-header">
	<div class="topbar">
		<div class="container">
			<div class="topbar__left">
				<div class="topbar__social">
					<a href="#" class="fab fa-facebook-square"></a>
					<a href="#" class="fab fa-twitter"></a>
					<a href="#" class="fab fa-pinterest-p"></a>
					<a href="#" class="fab fa-instagram"></a>
				</div>
				<p>Bienvenue chez Agro Trading Group</p>
			</div>
			<div class="topbar__right">
				<a href="#">
					<i class="atgtogo-icon-email"></i>needhelp@atgtogo.com</a>
				<a href="#">
					<i class="atgtogo-icon-clock"></i>Lundi - Samedi 8:00 - 17:30, Dimanche - Fermé</a>
			</div>
		</div>
	</div>
	<nav class="main-menu">
		<div class="container">
			<div class="logo-box">
				<a href="{{path('app_index')}}" aria-label="logo image"><img src="assets/Client/images/logo-dark.png" width="153" alt=""></a>
				<span class="fa fa-bars mobile-nav__toggler"></span>
			</div>
			<ul class="main-menu__list">
				<li>
					<a href="{{ path('app_index') }}">Accueil</a>
				</li>
				<li>
					<a href="{{ path('app_services_index') }}">Services</a>
				</li>
				<li>
					<a href="{{ path('app_produits_index') }}">Nos Produits</a>
				</li>
				{# <li>
					<a href="{{ path('app_apropos_index') }}">A Propos</a>
				</li> #}
				<li class="dropdown">
                                    <a href="#">A Propos|Certification</a>
                                    <ul>
                                        <li><a href="{{ path('app_apropos_index') }}">A Propos</a></li>
                                        <li><a href="{{ path('app_certification_index') }}">Certification</a></li>
                                    </ul>
                                </li>
				<li>
					<a href="{{ path('app_blog_index') }}">Blog</a>
				</li>
				<li>
					<a href="{{ path('app_contact_index') }}">Contact</a>
				</li>

			</ul>

			<div class="main-header__info">
				<a href="{{ path('app_login') }}">   <i class="ti ti-user-star"></i>       </a>
				
				<a href="tel:+22891894243" class="main-header__info-phone">
					<i class="atgtogo-icon-phone-call"></i>
					<span class="main-header__info-phone-content">
						<span class="main-header__info-phone-text">Appelez à tout moment</span>
						<span class="main-header__info-phone-title">+22891894243</span>
					</span>
				</a>
			</div>
		</div>
	</nav>
</header>
