<section class="main-slider">
	<div class="swiper-container thm-swiper__slider" data-swiper-options='{
																														        "slidesPerView": 1,
																														        "loop": true,
																														        "effect": "fade",
																														        "autoplay": {
																														            "delay": 8000
																														        },
																														        "navigation": {
																														            "nextEl": "#main-slider__swiper-button-next",
																														            "prevEl": "#main-slider__swiper-button-prev"
																														        }
																														    }'>
		<div class="swiper-wrapper">

			{% for slide in slides %}
				<div class="swiper-slide">


					<div class="image-layer" >
						<video controls autoplay muted loop>
							<source src="{{ asset('uploads/images/home/slider/' ~ slide.image) }}" type="video/mp4" height="50%">
							Votre navigateur ne supporte pas la lecture de vidéos.
						</video>

						<div class="ombre" style="background-color: black; opacity: 0.5; position: absolute; top: 0; left: 0; bottom: 0; right: 0;"></div>
					</div>


					<div class="container">
						<div class="row">
							<div class="col-xl-7 col-lg-7">
								<span class="tagline">Bienvenue chez Agro Trading Group</span>
								<h2>
									<span>{{ slide.titre|slice(0, 12) }}</span><br>{{ slide.titre|slice(12) }}

								</h2>
								<p>
									{{ slide.description|slice(0, 60) }}
									<br>
									{{ slide.description|slice(60) }}
								</p>

								<a href="#" class=" thm-btn">Découvrir plus</a>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<tr>
					<td colspan="5">Aucun Slider</td>
				</tr>
			{% endfor %}
		</div>
		<div class="main-slider__nav">
			<div class="swiper-button-prev" id="main-slider__swiper-button-next">
				<i class="atgtogo-icon-left-arrow"></i>
			</div>
			<div class="swiper-button-next" id="main-slider__swiper-button-prev">
				<i class="atgtogo-icon-right-arrow"></i>
			</div>
		</div>
	</div>
</section>
