{% extends 'base.html.twig' %}
{% block slider %}{% endblock %}
{% block body %}


	<section class="page-header">
		<div class="page-header__bg" style="background-image: url({{asset('assets/Client/images/backgrounds/page-header-bg-1-1.jpg') }});"></div>
		<div class="container">
			<ul class="thm-breadcrumb list-unstyled">
				<li>
					<a href="{{ path('app_index') }}">Accueil</a>
				</li>
				<li>/</li>
				<li>
					<span>Détails des services</span>
				</li>
			</ul>
			<h2>Détails du service</h2>
		</div>
	</section>

	<section class="service-details">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="service-sidebar">
						<div class="service-sidebar__links">
							<ul>
								<li><a href="#">Tous les services</a></li>
								{% for service in services %}
								<li>
									<a href="{{ path('app_client_service_show', {'id': service.id}) }}">{{ service.titre }}</a>
									</li>
							{% else %}
								<tr>
									<td colspan="5">no records found</td>
								</tr>
							{% endfor %}
							</ul>
						</div>
						<div class="service-sidebar__call">
							<div class="service-sidebar__call-bg" style="background-image: url({{ asset('uploads/images/services/' ~ service.image2) }});"></div>
							<h3>Nous vendons les meilleurs produits agricoles</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<img src="{{ asset('uploads/images/services/' ~ service.image) }}" alt="Services| Agro Trading Group">
					<h2>{{ service.titre }}</h2>
					<p>{{ service.description1 }}</p>
					<ul class="service-details__list list-unstyled">
						<li>
							<i class="agrikon-icon-right-arrow"></i>
							{{ service.avantage1 }}
						</li>
						<li>
							<i class="agrikon-icon-right-arrow"></i>
							{{ service.avantage2 }}
						</li>
					</ul>
					<p>
						{{ service.description2 }}</p>
					<div class="special-box">Découvrez comment notre engagement envers la qualité et la durabilité se traduit dans chaque produit que nous cultivons et transformons. </div>
					<div class="row">
						<div class="col-md-6">
							<img src="{{ asset('uploads/images/services/' ~ service.image2) }}" alt='Services| Agro Trading Group'>
						</div>
						<div class="col-md-6">
							<h4>Plus d'avantages</h4>
							<ul class="list-unstyled service-details__list-2">
								<li>
									<i class="fa fa-check-circle"></i>
									{{ service.benefice1 }}
								</li>
								<li>
									<i class="fa fa-check-circle"></i>
									{{ service.benefice2 }}
								</li>
								<li>
									<i class="fa fa-check-circle"></i>
									{{ service.benefices3 }}
								</li>

							</ul>
						</div>
					</div>
					<br>
					<br>
					<p>{{ service.description3 }}</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
