<!DOCTYPE html>
<html lang="en">
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Accueil || Agro Trading Group
		</title>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('assets/Client/images/favicons/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{asset('assets/Client/images/favicons/favicon-32x32.png')}}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{asset('assets/Client/images/favicons/favicon-16x16.png')}}">
		<link rel="manifest" href="{{asset('assets/Client/images/favicons/site.webmanifest')}}">
		<meta name="description" content="Import – Export, Agro-Alimentation
					Achats et Ventes de Produits Agricoles Bio, Promotion de la culture Biologique">

		<link rel="preconnect" href="https://fonts.gstatic.com/">
		<link href="https://fonts.googleapis.com/css2?family=Handlee&amp;family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

		<link rel="stylesheet" href="{{asset('assets/Client/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/Client/css/fontawesome-all.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/Client/css/swiper.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/Client/css/animate.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/Client/css/odometer.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/Client/css/jarallax.css')}}">
		<link rel="stylesheet" href="{{asset('assets/Client/css/magnific-popup.css')}}">
		<link rel="stylesheet" href="{{asset('assets/Client/css/bootstrap-select.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/Client/css/atgtogo-icons.css')}}">
		<link rel="stylesheet" href="{{asset('assets/Client/css/nouislider.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/Client/css/nouislider.pips.css')}}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
		<link rel="stylesheet" href="{{asset('assets/Client/css/main.css')}}">
	</head>

	<body>
		{# <div class="preloader">
					<img class="preloader__image" width="55" src="{{asset('assets/Client/images/loader.png')}}" alt="">
				</div> #}
		<div class="page-wrapper">

			{% include 'client/head.html.twig' %}
			<div class="stricky-header stricked-menu main-menu">
				<div class="sticky-header__content"></div>
			</div>
			{% block slider %}
				{% include 'client/slide.html.twig' %}

			{% endblock %}
			{% block body %}

				<section class="service-one">
					{% include 'client/produits.html.twig' %}
				</section>


				<section class="about-one">
					<img src="{{asset('assets/Client/images/icons/about-bg-icon-1-1.png')}}" class="about-one__bg-shape-1" alt="">
					<div class="container">
						{% include 'client/about.html.twig' %}
					</div>
				</section>

				<section class="service-two">
					{% include 'client/services.html.twig' %}
				</section>


				<section class="call-to-action__three jarallax" data-jarallax data-speed="0.3" data-imgposition="50% 50%">
					<img class="call-to-action__three__bg jarallax-img" src="{{asset('assets/Client/images/backgrounds/cta-1-bg-1.jpg')}}" alt="parallax-image"/>
					<div class="container">
						<div class="row">
							<div class="col-lg-5 wow fadeInLeft" data-wow-duration="1500ms">
								<div class="call-to-action__three-image">
									<img src="{{asset('assets/Client/images/resources/cta-3-1.jpg')}}" alt="">
									<img src="{{asset('assets/Client/images/resources/cta-3-2.jpg')}}" alt="">
								</div>
							</div>
							<div class="col-lg-7">
								<div class="call-to-action__three-content">
									<h3>Fournir des produits de haute qualité</h3>
									<a href="{{ path('app_services_index') }}" class="thm-btn">Découvrir plus</a>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="testimonials-one">
					<img src="{{asset('assets/Client/images/icons/testimonials-bg-1-1.png')}}" class="testimonials-one__bg" alt="">
					<div class="container">
						<h2 class="testimonials-one__title">Témoignages</h2>
						<div id="testimonials-one__carousel" class="testimonials-one__carousel swiper-container">
							<div class="swiper-wrapper">
								{% for temoignage in temoignages %}
									<div class="swiper-slide">
										<div class="testimonials-one__icons">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
										</div>
										<p>{{ temoignage.message }}</p>
									</div>
								{% else %}
									<tr>
										<td colspan="5">no records found</td>
									</tr>
								{% endfor %}
							</div>
						</div>


						<div id="testimonials-one__meta" class="testimonials-one__carousel swiper-container">
							<div class="swiper-wrapper">
								{% for temoignage in temoignages %}
									<div class="swiper-slide">
										<div class="testimonials-one__meta">
											<h4>{{ temoignage.auteur }}</h4>
											<span>{{ temoignage.profession }}</span>
										</div>
									</div>
								{% else %}
									<tr>
										<td colspan="5">no records found</td>
									</tr>
								{% endfor %}
							</div>
						</div>
						<div class="swiper-pagination" id="testimonials-one__swiper-pagination"></div>
					</div>
				</section>

				<section class="gray-boxed-wrapper home-one__boxed">
					<img src="{{asset('assets/Client/images/icons/home-1-blog-bg.png')}}" alt="" class="home-one__boxed-bg">
					{% include 'client/blogAccueil.html.twig' %}
					<div class="blog-home__slogan">
						<div class="container">
							<div class="row">
								<div class="col-lg-9">
									<div class="blog-home__slogan-main">
										<i class="atgtogo-icon-farm"></i>
										<div class="blog-home__slogan-content">
											<h3>Nous nous soucions de la croissance de notre agriculture</h3>
											<p>Chez Agro Trading Group, nous nous engageons à cultiver un avenir meilleur, un champ à la fois. Découvrez comment nous faisons progresser l'agriculture durable, la qualité des produits et l'innovation pour un monde plus vert.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="blog-home__slogan-image">
										<img src="{{asset('assets/Client/images/resources/blog-cta-1.png')}}" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				{# <section class="contact-two">
									<div class="container">
										<div class="row">
											<div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
												<div class="contact-two__image">
													<div class="contact-two__image-bubble-1"></div>
													<div class="contact-two__image-bubble-2"></div>
													<div class="contact-two__image-bubble-3"></div>
													<img src="{{asset('assets/Client/images/resources/contact-1-1.jpg')}}" class="img-fluid" alt="">
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
												<div class="contact-two__content">
													<div class="block-title">
														<div class="block-title__image"></div>
														<p>Contactez maintenant</p>
														<h3>Laissez-nous un message</h3>
													</div>
													<div class="contact-two__summery">
														<p>Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod tempor
																																				                                    incididunt
																																				                                    ut labore et dolore magna aliqua lonm andhn. Aenean tincidunt id mauris id auctor. Donec at
																																				                                    ligula lacus dignissim mi quis simply neque.</p>
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
												<form action="https://ninetheme.com/themes/html-templates/atgtogo/assets/inc/sendemail.php" class="contact-one__form contact-form-validated">
													<div class="row">
														<div class="col-lg-12">
															<input type="text" name="name" placeholder="Full Name">
														</div>
														<div class="col-lg-12">
															<input type="text" name="email" placeholder="Email Address">
														</div>
														<div class="col-lg-12">
															<input type="text" name="phone" placeholder="Phone Number">
														</div>
														<div class="col-lg-12">
															<textarea name="message" placeholder="Write Message"></textarea>
														</div>
														<div class="col-lg-12">
															<button type="submit" class="thm-btn">Send Message</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</section> #}


			</div>


			<div class="mobile-nav__wrapper">
				<div class="mobile-nav__overlay mobile-nav__toggler"></div>
				<div class="mobile-nav__content">
					<span class="mobile-nav__close mobile-nav__toggler">
						<i class="far fa-times"></i>
					</span>

					<div class="logo-box">
						<a href="{{path('app_index')}}" aria-label="logo image"><img src="{{asset('assets/Client/images/logo-light.png')}}" width="155" alt=""/></a>
					</div>
					<div class="mobile-nav__container"></div>

					<ul class="mobile-nav__contact list-unstyled">
						<li>
							<i class="atgtogo-icon-email"></i>
							<a href="mailto:contact@atgtogo.com">contact@atgtogo.com</a>
						</li>
						<li>
							<i class="atgtogo-icon-telephone"></i>
							<a href="tel:+22822617734">(+228) 22 61 77 34</a>
						</li>
					</ul>
					<div class="mobile-nav__top">
						<div class="mobile-nav__language">
							<img src="{{asset('assets/Client/images/resources/flag-1-1.jpg')}}" alt="">
							<label class="sr-only" for="language-select">select language</label>
							<select class="selectpicker" id="language-select">
								<option value="english">English</option>
								{# <option value="arabic">Arabic</option> #}
							</select>
						</div>
						<div class="mobile-nav__social">
							<a href="#" aria-label="twitter">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="#" aria-label="facebook">
								<i class="fab fa-facebook-square"></i>
							</a>
							<a href="#" aria-label="pinterest">
								<i class="fab fa-pinterest-p"></i>
							</a>
							<a href="#" aria-label="instagram">
								<i class="fab fa-instagram"></i>
							</a>
						</div>
					</div>


				</div>
			</div>

			<div class="search-popup">
				<div class="search-popup__overlay search-toggler"></div>
				<div class="search-popup__content">
					<form action="#">
						<label for="search" class="sr-only">search here</label>
						<input type="text" id="search" placeholder="Search Here..."/>
						<button type="submit" aria-label="search submit" class="thm-btn">
							<i class="fa fa-search"></i>
						</button>
					</form>
				</div>
			</div>

			<a href="#" data-target="html" class="scroll-to-target scroll-to-top">
				<i class="fa fa-angle-up"></i>
			</a>

		{% endblock %}
		<footer class="site-footer">
			<img src="{{asset('assets/Client/images/icons/footer-bg-icon-1.png')}}" class="site-footer__shape-1" alt="">
			<img src="{{asset('assets/Client/images/icons/footer-bg-icon-2.png')}}" class="site-footer__shape-2" alt="">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
						<div class="footer-widget">
							<a href="{{path('app_index')}}" class="footer-widget__Logo">
								<img src="{{asset('assets/Client/images/logo-light.png')}}" width="153" alt="">
							</a>
							<p>Import – Export, Agro-Alimentation
																Achats et Ventes de Produits Agricoles Bio, Promotion de la culture Biologique</p>
							<form action="#" data-url="YOUR_MAILCHIMP_URL" class="mc-form">
								<input type="email" name="EMAIL" placeholder="Email Address">
								<button type="submit">
									<i class="atgtogo-icon-right-arrow"></i>
								</button>
							</form>
							<div class="mc-form__response"></div>
							<div class="footer__social">
								<a href="#" class="fab fa-facebook-square"></a>
								<a href="#" class="fab fa-twitter"></a>
								<a href="#" class="fab fa-pinterest-p"></a>
								<a href="#" class="fab fa-instagram"></a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
						<div class="footer-widget footer-widget__links-widget">
							<h3 class="footer-widget__title">Liens</h3>
							<ul class="list-unstyled footer-widget__links">
								<li>
									<a href="{{ path('app_index') }}">Accueil</a>
								</li>
								<li>
									<a href="{{ path('app_services_index') }}">Services</a>
								</li>
								<li>
									<a href="{{ path('app_produits_index') }}">Nos Produits</a>
								</li>
								<li>
									<a href="{{ path('app_apropos_index') }}">A Propos</a>
								</li>
								<li>
									<a href="{{ path('app_certification_index') }}">Certification</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
						<div class="footer-widget">
							<h3 class="footer-widget__title">Nouvelles</h3>
							<ul class="list-unstyled footer-widget__post">
								{% for blog in blogs %}

									<li>
										<img src="{{ asset('uploads/images/blogs/' ~ blog.image) }}" alt="Best Way to Do Eco and Agriculture" width="50" height="50">

										<div class="footer-widget__post-content">
											<span>{{ blog.date ? blog.date|date('Y-m-d') : '' }}</span>
											<h4>
												<a href="{{ path('app_admin_blog_show', {'id': blog.id}) }}">{{ blog.titre|slice(0, 32) }}
													...</a>
											</h4>
										</div>
									</li>

								{% else %}
									<tr>
										<td colspan="8">no records found</td>
									</tr>
								{% endfor %}

							</ul>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
						<h3 class="footer-widget__title">Contact</h3>
						<ul class="list-unstyled footer-widget__contact">
							<li>
								<i class="atgtogo-icon-telephone"></i>
								<a href="tel:+22891894243">
									(+228) 91894243</a>
							</li>
							<li>
								<i class="atgtogo-icon-email"></i>
								<a href="mailto:contact@atgtogo.com">contact@atgtogo.com</a>
							</li>
							<li>
								<i class="atgtogo-icon-pin"></i>
								<a href="#">Lomé-TOGO</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<div class="bottom-footer">
			<div class="container">
				<p>© Copyright 2023 by God's eye</p>
				<div class="bottom-footer__links">
					<a href="#">Termes et conditions</a>
					<a href="#">Politique de confidentialité</a>
				</div>
			</div>
		</div>

		<script src="{{asset('assets/Client/js/jquery-3.5.1.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/bootstrap.bundle.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/swiper.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/jquery.ajaxchimp.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/jquery.magnific-popup.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/jquery.validate.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/bootstrap-select.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/wow.js')}}"></script>
		<script src="{{asset('assets/Client/js/odometer.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/jquery.appear.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/jarallax.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/circle-progress.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/wNumb.min.js')}}"></script>
		<script src="{{asset('assets/Client/js/nouislider.min.js')}}"></script>

		<script src="{{asset('assets/Client/js/theme.js')}}"></script>
	</body>
</html>
