{% extends 'baseAdmin.html.twig' %}

{% block title %}Service index
{% endblock %}

{% block body %}
	<h1 class="h3 mb-3">SListe des Service</h1>
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">Table with Buttons</h5>
					<h6 class="card-subtitle text-muted">
						<a class="btn btn-primary" href="{{ path('app_admin_service_new') }}">Ajouter</a>
					</h6>
				</div>
				<div class="card-body">
					<table id="datatables-buttons" class="table table-striped" style="width:100%">
						<thead>
							<tr>
								<th>Id</th>
								<th>Image</th>
								<th>Titre</th>
								<th>Avantage1</th>
								<th>Benefice1</th>
								<th>Description3</th>

								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for service in services %}
								<tr>
									<td>{{ service.id }}</td>
									<td>
										<img src="{{ asset('uploads/images/services/' ~ service.image) }}" alt="Slide Image" width="100">
										<img src="{{ asset('uploads/images/services/' ~ service.image2) }}" alt="Slide Image" width="100">
									</td>

									<td>{{ service.titre }}</td>
									<td>{{ service.avantage1|slice(0,30) }}</td>
									<td>{{ service.benefice1|slice(0,30) }}</td>
									<td>{{ service.description3|slice(0,30) }}</td>

									<td>
										<a href="{{ path('app_admin_service_show', {'id': service.id}) }}">show</a>

										{% if service.statut %}
											<a class="btn btn-success" href="{{ path('app_services_desactiver', {'id': service.id}) }}" class="badge bg-label-primary me-1">
												<i class="ti ti-off me-1"></i>
												Activer

											</a>
										{% else %}
											<a class="btn btn-warning" href="{{ path('app_services_activer', {'id': service.id}) }}" class="badge bg-label-danger me-1">
												Désactiver

											</a>
										{% endif %}
									</td>
								</tr>

							{% else %}
								<tr>
									<td colspan="5">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
